/*
=============== 
Variables
===============
*/
:root {
  --clr-primary: #c49b63;
  --clr-primary-1: #ffc107;
  --clr-black: #000;
  --clr-black-1: #222;
  --clr-black-2: #2a2727;
  --clr-black-3: #262626;
  --clr-grey-1: #aaa;
  --clr-grey-2: #bbb;
  --clr-grey-3: #777;
  --clr-grey-4: #999;
  --clr-white: #fff;
  --clr-white-1: #eee;
  --ff-primary: "Josefin Sans", sans-serif;
  --ff-primary-1: "Poppins", sans-serif;
  --ff-secondary: "Great Vibes", cursive;
  --transition-1: all 0.3s;
  --transition-2: all 0.3s linear;
  --letter-spacing-1: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: var(--ff-primary-1);
}

html {
  font-size: 62.5%;
}
/* End of Global Styles */

/*
=============== 
Container
===============
*/
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* End of Container */

/*
=============== 
Navbar
===============
*/
.navbar {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  z-index: 300;
  transition: all 0.5s;
}

.sticky.navbar {
  height: 8rem;
  background-color: var(--clr-black);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo i {
  font-size: 4rem;
  -webkit-text-stroke: 0.1rem var(--clr-white);
  color: transparent;
  margin-right: 1rem;
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo-text span:nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-1);
  color: var(--clr-white);
}

.logo-text span:nth-child(2) {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-1);
  color: var(--clr-white-1);
  margin-top: -0.7rem;
}

.navigation a {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--clr-white-1);
  margin-right: 3rem;
  letter-spacing: 0.2rem;
  position: relative;
  transition: color 0.3s;
}

.navigation a:hover {
  color: var(--clr-primary);
}

.navigation a:nth-child(1) {
  color: var(--clr-primary);
}

.navigation a:last-child {
  font-size: 1.8rem;
}

.navigation a:last-child::after {
  content: "0";
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-primary-1);
  border-radius: 50%;
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-black-1);
  font-size: 1.2rem;
}
/* End of Navigation */

/*
=============== 
Landing
===============
*/
.landing {
  width: 100%;
  height: 95vh;
  position: relative;
}

.banner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
}

.main-heading {
  font-family: var(--ff-secondary);
  font-size: 9rem;
  font-weight: 900;
  color: var(--clr-primary);
}

.banner h1 {
  font-family: var(--ff-primary);
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--clr-white);
  margin: 2rem 0;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

.banner p {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--clr-white);
  width: 60rem;
  margin: 0 auto 2rem auto;
  letter-spacing: var(--letter-spacing-1);
}

.banner-btn {
  width: 12rem;
  height: 5.5rem;
  cursor: pointer;
  margin: 0.1rem;
  font-size: 1.4rem;
  transition: var(--transition-1);
  border-radius: var(--radius);
  text-transform: capitalize;
  font-weight: 900;
}

.banner-btn-1 {
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-black-1);
}

.banner-btn-1:hover {
  background-color: transparent;
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-primary);
}

.banner-btn-2 {
  background-color: transparent;
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-white);
  color: var(--clr-white);
}

.banner-btn-2:hover {
  background-color: var(--clr-primary);
  color: var(--clr-black-1);
  border: 0.1rem solid var(--clr-primary);
}

.swiper {
  width: 100%;
  height: 85%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.swiper-pagination-bullet {
  width: 2rem;
  height: 2rem;
  opacity: 1;
  margin-right: 1.5rem !important;
  background-color: var(--clr-grey-1);
  position: relative;
}

span.swiper-pagination-bullet::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0.2rem solid var(--clr-grey-1);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--clr-white);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  border: 0.2rem solid var(--clr-white);
}

.landing-contact {
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: var(--clr-black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--clr-white);
}

.details {
  display: flex;
}

.details i {
  font-size: 2rem;
  color: var(--clr-primary);
  margin-right: 2rem;
}

.details div {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
}

.details div span:nth-child(1) {
  font-size: 1.6rem;
  color: var(--clr-white);
  margin-bottom: 0.5rem;
}

.details div span:nth-child(2) {
  font-size: 1.4rem;
  color: var(--clr-grey-2);
  width: 30rem;
}
/* End of Landing */

/*
=============== 
About
===============
*/
.about {
  width: 100%;
  height: 60vh;
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about div {
  width: 30rem;
  height: 35rem;
  margin: 0 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.about i {
  width: 9rem;
  height: 10rem;
  font-size: 4rem;
  color: var(--clr-black);
  -webkit-text-stroke: 0.1rem var(--clr-primary);
  border: 0.5rem solid var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}

.about h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-black-2);
}

.about p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-black-2);
}
/* End of About */

/*
=============== 
Menu
===============
*/
.menu {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(images/image8.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.menu-left {
  text-align: right;
  margin-right: 3rem;
  width: 50%;
}

.menu-left .main-heading {
  font-size: 6rem;
}

.menu-left h1 {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: -4rem;
}

.menu-left p {
  font-size: 1.4rem;
  color: var(--clr-grey-3);
  width: 50rem;
  margin: 2rem 0 4rem auto;
  line-height: 1.2;
}

.menu-btn {
  width: 15rem;
  height: 5.5rem;
  cursor: pointer;
  margin: 0.1rem;
  font-size: 1.3rem;
  background-color: transparent;
  border: 0.1rem solid var(--clr-primary);
  color: var(--clr-primary);
  text-transform: uppercase;
  transition: var(--transition-1);
  border-radius: var(--radius);
  text-transform: capitalize;
  font-weight: 900;
}

.menu-btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-black-1);
}

.menu-right {
  margin-left: 3rem;
  width: 50%;
}

.menu-right-images {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.menu-img-wrapper {
  width: 25rem;
  height: 25rem;
  margin: 2rem;
  overflow: hidden;
  border-radius: var(--radius);
}

.menu-right-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.6s;
}

.menu-img-wrapper:hover img {
  transform: scale(1.3);
}
/* End of Menu */

/*
=============== 
Data
===============
*/
.data {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(images/image10.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data > div {
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icon-wrapper {
  width: 8rem;
  height: 8rem;
  position: relative;
  cursor: pointer;
}

.icon-bg {
  display: block;
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--clr-primary);
  transition: var(--transition-1);
  border-radius: var(--radius);
}

.data i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  -webkit-text-stroke: 0.2rem var(--clr-primary);
  color: transparent;
  transition: all 0.3;
  z-index: 100;
}

.icon-wrapper:hover .icon-bg {
  background-color: var(--clr-primary);
  -webkit-text-stroke: 0.2rem var(--clr-black-2);
  transform: rotateZ(135deg);
}

.icon-wrapper:hover i {
  -webkit-text-stroke: 0.2rem var(--clr-black-2);
}

.num {
  font-size: 3rem;
  color: var(--clr-primary);
}

.info {
  font-size: 1.8rem;
  color: var(--clr-grey-4);
}
/* End of Data */

/*
=============== 
Customers
===============
*/
.customers {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(images/image8.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.customers-banner {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.customers-banner .main-heading {
  font-size: 6rem;
  position: relative;
  z-index: 10;
}

.customers-banner h1 {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: -4rem;
}

.customers-banner p {
  font-size: 1.6rem;
  color: var(--clr-grey-3);
  margin-top: 4rem;
  line-height: 1.2;
}

.clients {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.client {
  width: 25%;
  height: 25rem;
  background-color: var(--clr-primary);
  padding: 2rem;
  color: var(--clr-white);
  position: relative;
}

.client:nth-child(2) {
  height: 31rem;
}

.client:nth-child(4) {
  height: 21rem;
}

.client:nth-child(even) {
  opacity: 0.9;
}

.client img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}

.client p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.client div {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2rem;
}

.client div span {
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* End of Customers */

/*
=============== 
Contact
===============
*/
.contact {
  width: 100%;
  height: 60vh;
  background-color: var(--clr-black);
  display: flex;
}

.contact-left {
  width: 50%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(images/image9.jpg) center no-repeat;
  background-size: cover;
}

.contact-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-right h1 {
  font-size: 4rem;
  font-weight: 300;
  color: var(--clr-white);
  margin: 0 0 3rem 2rem;
}

.input-group {
  display: flex;
}

.input-group input,
textarea {
  font-size: 2rem;
  width: 30rem;
  height: 5rem;
  padding: 1rem 1rem 2rem 0;
  margin: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  color: var(--clr-white);
}

.input-group textarea {
  resize: none;
  height: 5rem;
}

textarea::-webkit-scrollbar {
  display: none;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: var(--clr-white);
}

.contact-btn {
  width: 30rem;
  height: 6rem;
  background-color: var(--clr-primary);
  color: var(--clr-black-2);
  margin: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: var(--radius);
  text-transform: capitalize;
  font-weight: 900;
}

.contact-btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-primary);
}
/* End of Contact */

/*
=============== 
Footer
===============
*/
footer {
  margin-top: auto;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-black-3);
}

.copyright {
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
}
/* End of Footer */

/*
=============== 
Responsiveness
===============
*/
@media (max-width: 1500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 45%;
  }
  .menu-img-wrapper {
    width: 18rem;
    height: 18rem;
  }

  .customers {
    height: 120vh;
  }

  .clients {
    flex-direction: column;
  }

  .client {
    width: 100%;
    height: 15rem;
  }

  .client:nth-child(2) {
    height: 15rem;
  }

  .client:nth-child(4) {
    height: 15rem;
  }

  .contact-left {
    display: none;
  }

  .contact-right {
    width: 100%;
  }

  .input-group input,
  textarea,
  .contact-btn {
    width: 40rem;
  }
}

@media (max-width: 900px) {
  .landing-contact div span:nth-child(2) {
    display: none;
  }
  .menu-right {
    display: none;
  }

  .menu-left {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .menu-left p {
    margin: 2rem auto 4rem auto;
  }

  .customers {
    height: 140vh;
  }

  .customers-banner p {
    width: 60rem;
  }

  .client {
    height: 18rem;
  }

  .client:nth-child(2) {
    height: 18rem;
  }

  .client:nth-child(4) {
    height: 18rem;
  }

  .contact {
    height: 80%;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group input,
  textarea,
  .contact-btn {
    width: 60rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 35%;
  }

  .landing-contact {
    height: 19rem;
    flex-direction: column;
    align-items: center;
  }
  .details div {
    width: 20rem;
  }

  .about {
    height: 80vh;
    flex-direction: column;
  }

  .about div {
    width: 60rem;
    margin: 0 2rem;
  }

  .customers {
    height: 110vh;
  }
}

@media (max-width: 450px) {

  html {
    font-size: 35%;
  }
  .container {
    overflow: hidden;
  }
  .logo {
    display: none;
  }

  .navigation a {
  margin-right: 2rem;
}

.navigation a:last-child::after {
  display: none;
}

.landing {
  width: 100%;
  height: 95vh;
  position: relative;
}

.banner p {
  font-size: 1.5rem;
  width: 40rem;
}

.banner-btn {
  font-size: 2rem;
}

.landing-contact {
    height: 17rem;
  }

.details i {
  font-size: 4rem;
  color: var(--clr-primary);
}

.details div span:nth-child(1) {
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.details div span:nth-child(2) {
  font-size: 1.9rem;
  color: var(--clr-grey-2);
  width: 30rem;
}

.about {
    width: 100%;
    height: 80vh;
    flex-direction: column;
    padding-top: 5rem;
  }

  .about div {
    width: 41rem;
    margin: 0 2rem;
    height: 17.5rem;
    padding: 1.3rem;
  }

.about i {
  width: 9rem;
  height: 10rem;
  font-size: 7rem;
  -webkit-text-stroke: 0.1rem var(--clr-primary);
  border: 0.5rem solid var(--clr-black);
}

.about h1 {
  font-size: 3rem;
  font-weight: 700;
}

.about p {
  font-size: 2rem;
  font-weight: 400;
}

.menu-right {
    display: none;
  }

  .menu-left {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .menu-left p {
    font-size: 2.5rem;
    width: 35rem;
    margin: 2rem auto 4rem auto;
    display: flex;
    align-items: center;
  }

.menu {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(images/image8.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.menu-left .main-heading {
  font-size: 10rem;
}

.menu-left h1 {
  font-size: 10rem;
}

.menu-btn {
  width: 35rem;
  height: 6.5rem;
  margin: 0.1rem;
  font-size: 2.3rem;
}

.data {
  width: 100%;
  height: 50vh;
}

.data > div {
  width: 25rem;
  height: 30rem;
}

.icon-wrapper {
  width: 7rem;
  height: 7rem;
}

.icon-bg {
  display: block;
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--clr-primary);
  transition: var(--transition-1);
  border-radius: var(--radius);
}

.data i {
  font-size: 6rem;
}

.num {
  font-size: 5rem;
}

.info {
  font-size: 2.8rem;
  text-align: center;
}

.customers {
    height: 150vh;
  }

.customers-banner p {
    width: 40rem;
    font-size: 2.6rem;
  margin-top: 4rem;
    margin-top: 0;

  }

  .client {
    height: 18rem;
    padding: 2rem;
  }

  .client:nth-child(2) {
    height: 18rem;
  }

  .client:nth-child(4) {
    height: 18rem;
  }

.customers-banner .main-heading {
  font-size: 10rem;
  margin-top: -7rem;
}

.customers-banner h1 {
  font-size: 8rem;
  margin-top: -2rem;
}

.client img {
  width: 6rem;
  height: 6rem;
}

.client p {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.client div {
  bottom: 1rem;
}

.client div span {
  font-size: 2rem;
  font-weight: 700;
}

.contact {
  width: 100%;
  height: 85vh;
}

.contact-left {
  width: 50%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(images/image9.jpg) center no-repeat;
  background-size: cover;
}

.contact-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-right h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 0 0 3rem 2rem;
}

.input-group input,
textarea {
  font-size: 3rem;
  width: 30rem;
  height: 5rem;
  padding: 1rem 1rem 2rem 0;
  margin: 2rem;
}

.input-group textarea {
  resize: none;
  height: 5rem;
}

.contact-btn {
  font-size: 3rem;
  width: 30rem;
  height: 6rem;
  margin: 1rem 2rem;
  font-weight: 900;
}

.area {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.area .title {
  font-size: 7rem;
  color: var(--clr-primary);
  margin-bottom: 3rem;
  margin-top: 9rem;
  text-transform: capitalize;
  text-align: center;
  font-family: var(--ff-secondary);
}

.area .shops-area {
  display: grid;
  grid-template-columns: repeat(2, minmax(3rem, 1fr));
  gap: 2rem;
}

.area .shops-area .shop {
  text-align: center;
  padding: 3rem 2rem;
  background: var(--clr-white-1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 5px solid var(--clr-black);
  outline-offset: -1.5rem;
  cursor: pointer;
  transition: var(--transition-2);
}

.area .shops-area .shop img {
  padding: 1rem;
  max-height: 30vh;
  max-width: 15vw;
  transition: var(--transition-2);
}

.area .shops-area .shop h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: var(--clr-black);
  transition: var(--transition-2);
  text-transform: capitalize;
}

.area .shops-area .shop .price {
  font-size: 2rem;
  color: var(--clr-black);
}

.shops-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.shops-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: var(--clr-white);
  position: relative;
  margin: 2rem;
  width: 40rem;
}

.shops-preview .preview.active {
  display: inline-block;
}

.shops-preview .preview img {
  height: 30rem;
}

.shops-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: red;
  font-size: 4rem;
  transition: var(--transition-2);
}

.shops-preview .preview .fa-times:hover {
  transform: rotate(90deg);
  transition: var(--transition-2);
}

.shops-preview .preview h3 {
  color: var(--clr-black);
  padding: 0.5rem 0;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.shops-preview .preview .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.shops-preview .preview .stars i {
  color: var(--clr-primary-1);
}

.shops-preview .preview .stars span {
  color: var(--clr-grey-3);
}

.shops-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--clr-black);
}

.shops-preview .preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: var(--clr-black);
}

.shops-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  text-transform: capitalize;
}

.shops-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--clr-black);
  border: 0.1rem solid var(--clr-black);
  border-radius: var(--radius);
  transition: var(--transition-2);
}

.shops-preview .preview .buttons a.cart {
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-black-1);
}

.shops-preview .preview .buttons a.cart:hover {
  background-color: transparent;
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-primary);
}

.shops-preview .preview .buttons a.buy:hover {
  background-color: var(--clr-primary);
  color: var(--clr-black-1);
  border: 0.1rem solid var(--clr-primary);
}
}

/* End of Responsive */

/*
=============== 
Blog Page
===============
*/
.bg-black {
  background-color: var(--clr-black);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 576px) {
  .section-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* loading */
.loading {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-black);
  padding-top: 5rem;
  z-index: 999;
}

.hide-loading {
  display: none;
}

/* search form */
.search-form {
  text-align: center;
  display: grid;
  justify-content: center;
  padding-top: 10rem;
  width: 85vw;
  max-width: 500px;
  margin: 2.5rem auto;
}

input {
  width: 100%;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
input {
  border: 0.2rem solid var(--clr-primary);
  border-radius: var(--radius);
  background-color: #1d222a;
  color: var(--clr-white);
}
input::placeholder {
  text-transform: capitalize;
  color: var(--clr-white);
}

/* cocktails */
.cocktails {
  position: relative;
}
.title {
  font-size: 2rem;
  text-align: center;
}

.cocktail {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-bottom: 3rem;
  position: relative;
}
.cocktail:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.005);
}
.cocktail img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  border: 10px solid var(--clr-primary);
  transition: var(--transition);
  height: 268px;
  object-fit: cover;
}
.cocktail:hover img {
  filter: blur(2px) grayscale(50%);
}
.cocktail h3 {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  background: var(--clr-black);
  color: var(--clr-primary-1);
  padding: 1rem 1.5rem;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2rem;
  border-radius: var(--radius);
}

/* single cocktail */
.single-drink {
  width: 85vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 10rem;
  padding-top: 5rem;
}
.drink-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  border: 10px solid var(--clr-primary);
  border-radius: var(--radius);
}
@media screen and (min-width: 992px) {
  .single-drink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}
@media screen and (max-width: 1280px) {
  .drink-name {
    padding-top: 2rem;
  }
}
.drink-info {
  /* padding-top: 2rem; */
  font-size: 1.6rem;
  color: var(--clr-white);
  margin: 0 0 3rem 3rem;
}

.drink-name {
  margin-bottom: 1rem;
  text-align: center;
}

.drink-desc {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.drink-desc::first-letter {
  text-transform: uppercase;
}

.ingredients-title {
  text-align: center;
}

.drink-ingredients {
  list-style: none;
  display: flex;
  text-align: center;
  padding: 1.5rem;
  text-transform: capitalize;
}

.drink-ingredients li {
  padding: 2rem;
}

.drink-ingredients .far {
  margin-right: 1rem;
}

.single-drink .btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  transition: var(--transition-1);
  font-weight: 900;
}

.btn {
  background-color: var(--clr-primary);
  border: none;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-black-1);
  padding: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-primary);
}

/* End of Blog Page */

/*
=============== 
About Us Page
===============
*/
.aboutpage-container {
  width: 75%;
  margin: 0 auto;
  padding: 3rem 3rem;
  padding-top: 15rem;
}

.aboutpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.aboutpage-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  border: 10px solid var(--clr-primary);
  border-radius: var(--radius);
}

.aboutpage-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.aboutpage-image:hover img {
  transform: scale(1.2);
}

.aboutpage-content {
  flex: 1;
}

.aboutpage-content h2 {
  font-size: 7rem;
  margin-bottom: 15px;
  color: var(--clr-primary);
  text-transform: capitalize;
  font-family: var(--ff-secondary);
}

.aboutpage-content p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--clr-white);
}

.aboutpage-content .btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  transition: var(--transition-1);
  font-weight: 900;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .aboutpage-container {
    width: 95%;
  }

  .aboutpage-content h2 {
    text-align: center;
  }
  .aboutpage {
    padding: 20px;
    flex-direction: column;
  }
  .aboutpage-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .aboutpage-content p {
    padding: 0px;
    font-size: 16px;
  }

  .aboutpage-content .btn {
    padding: 10px;
    font-size: 3rem;
    margin-top: 6rem;
  }
}

/* End of About Us Page */
/*
=============== 
Contact Page
===============
*/
.contactpage {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content {
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactpage-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-input-groups {
  display: flex;
}

.contact-input-group {
  display: flex;
  flex-direction: column;
}

.contact-input-group label {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--clr-white);
  margin: 0 0 1.5rem 2rem;
}

.contact-input-group label i {
  font-size: 1.2rem;
  color: var(--clr-primary);
}

.contact-input-group input {
  height: 6rem;
  margin: 0 3rem 5rem 0;
  background-color: #1d222a;
  border: 0.2rem solid var(--clr-primary);
  border-radius: var(--radius);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--clr-white);
  padding: 1rem 1rem 1rem 2rem;
}

.contact-input-groups input {
  width: 35rem;
}

.contact-input-group textarea {
  height: 12rem;
  margin: 0 3rem 5rem 0;
  margin-bottom: 2rem;
  resize: none;
  width: 73rem;
  background-color: #1d222a;
  border: 0.2rem solid var(--clr-primary);
  border-radius: var(--radius);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--clr-white);
  padding: 1rem 1rem 1rem 2rem;
}

.contactpage-btn {
  width: calc(100% - 3rem);
  height: 7rem;
  background-color: var(--clr-primary);
  border: 0.2rem solid var(--clr-black-1);
  border-radius: var(--radius);
  color: var(--clr-black-2);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  cursor: pointer;
  margin-top: 2rem;
}

.contactpage-btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-primary);
}

@media (max-width: 1700px) {
  .contact-content {
    width: 120rem;
  }
  .contact-input-group textarea {
    max-width: 50rem;
  }
}

@media (max-width: 1500px) {
  .contact-content {
    width: 110rem;
  }
  .contact-input-group textarea {
    max-width: 50rem;
  }
}

@media (max-width: 1200px) {
  .contact-content {
    width: 100rem;
    justify-content: space-evenly;
  }

  .contactpage-right {
    margin-right: -15rem;
  }

  .contact-input-groups {
    flex-direction: column;
  }

  .contact-input-groups input {
    width: 60rem;
  }
  .contact-input-group textarea {
    max-width: 50rem;
  }
}

@media (max-width: 900px) {
  .contact-content {
    width: 110rem;
  }

  .contactpage-right {
    margin-right: -5rem;
  }
  .contact-input-group textarea {
    max-width: 50rem;
  }
}

@media (max-width: 700px) {
  .contact-content {
    width: 70rem;
  }
  .contact-input-group textarea {
    max-width: 50rem;
  }
}

@media (max-width: 500px) {
  .contact-content {
    width: 25rem;
  }

  .contact-input-groups input {
    width: 25rem;
  }
  .contact-input-group textarea {
    width: 30rem;


    height: 22rem;
  margin: 0 3rem 5rem 0;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  padding: 2rem;
  }




.contactpage {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contactpage-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-input-groups {
  display: flex;
}

.contact-input-group {
  display: flex;
  flex-direction: column;
}

.contact-input-group label {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--clr-white);
  margin: 0 0 1.5rem 2rem;
}

.contact-input-group label i {
  font-size: 2.2rem;
  color: var(--clr-primary);
}

.contact-input-group input {
  height: 3rem;
  margin: 0 3rem 5rem 0;
  background-color: #1d222a;
  border: 0.2rem solid var(--clr-primary);
  border-radius: var(--radius);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--clr-white);
  padding: 2rem;
}

.contactpage-btn {
  width: calc(100% - 3rem);
  height: 7rem;
  background-color: var(--clr-primary);
  border: 0.2rem solid var(--clr-black-1);
  border-radius: var(--radius);
  color: var(--clr-black-2);
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.contactpage-btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-primary);
}




}
/* End of contact-pages Page */
/*
=============== 
Shop Page
===============
*/
.area {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.area .title {
  font-size: 7rem;
  color: var(--clr-primary);
  margin-bottom: 3rem;
  margin-top: 9rem;
  text-transform: capitalize;
  text-align: center;
  font-family: var(--ff-secondary);
}

.area .shops-area {
  display: grid;
  grid-template-columns: repeat(2, minmax(3rem, 1fr));
  gap: 2rem;
}

.area .shops-area .shop {
  text-align: center;
  padding: 3rem 2rem;
  background: var(--clr-white-1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 5px solid var(--clr-black);
  outline-offset: -1.5rem;
  cursor: pointer;
  transition: var(--transition-2);
}

.area .shops-area .shop:hover {
  outline: 0.2rem solid var(--clr-black);
  outline-offset: 0;
  transition: var(--transition-2);
}

.area .shops-area .shop img {
  height: 30rem;
  min-width: 15rem;
  transition: var(--transition-2);
}

.area .shops-area .shop:hover img {
  transform: scale(0.9);
  transition: var(--transition-2);
}

.area .shops-area .shop h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: var(--clr-black);
  transition: var(--transition-2);
  text-transform: capitalize;
}

.area .shops-area .shop:hover h3 {
  color: var(--clr-primary);
  transition: var(--transition-2);
}

.area .shops-area .shop .price {
  font-size: 2rem;
  color: var(--clr-black);
}

.shops-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.shops-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: var(--clr-white);
  position: relative;
  margin: 2rem;
  width: 40rem;
}

.shops-preview .preview.active {
  display: inline-block;
}

.shops-preview .preview img {
  height: 30rem;
}

.shops-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: red;
  font-size: 4rem;
  transition: var(--transition-2);
}

.shops-preview .preview .fa-times:hover {
  transform: rotate(90deg);
  transition: var(--transition-2);
}

.shops-preview .preview h3 {
  color: var(--clr-black);
  padding: 0.5rem 0;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.shops-preview .preview .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.shops-preview .preview .stars i {
  color: var(--clr-primary-1);
}

.shops-preview .preview .stars span {
  color: var(--clr-grey-3);
}

.shops-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--clr-black);
}

.shops-preview .preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: var(--clr-black);
}

.shops-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  text-transform: capitalize;
}

.shops-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--clr-black);
  border: 0.1rem solid var(--clr-black);
  border-radius: var(--radius);
  transition: var(--transition-2);
}

.shops-preview .preview .buttons a.cart {
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-black-1);
}

.shops-preview .preview .buttons a.cart:hover {
  background-color: transparent;
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-primary);
}

.shops-preview .preview .buttons a.buy:hover {
  background-color: var(--clr-primary);
  color: var(--clr-black-1);
  border: 0.1rem solid var(--clr-primary);
}

.shopping-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
=============== 
menu-page Page
===============
*/
.menu-page h1 {
  margin: 0;
  font-size: 36px;
}

.menu-page-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.menu-page-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-page-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px rgba(196, 155, 99, 0.7);
  border-radius: var(--radius);
  overflow: hidden;
}

.menu-page-item img {
  width: 250px;
  min-width: 150px;
  height: 250px;
  min-height: 150px;
  object-fit: cover;
}

.menu-page-item h2 {
  text-align: center;
  color: var(--clr-white);
  margin: 0;
  font-size: 25px;
  padding: 50px;
}

.menu-page-item p {
  margin: 0;
  padding: 10px;
  color: var(--clr-white);
}

@media screen and (max-width: 768px) {
  .menu-page-container {
    max-width: 90%;
  }
  .menu-page-item {
    flex-direction: column;
  }

  .menu-page-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .menu-page-item h2 {
    font-size: 20px;
    padding: 0;
    margin-bottom: 10px;
  }

  .menu-page-item p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}